/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 10px 0;
}

/* Cabeçalho */
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #ff779e 3px solid;
    text-align: center;
}

header h1 {
    margin: 0;
    padding-bottom: 2px;
}

header p {
    font-size: 1.2em;
}

header nav ul {
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    padding: 0 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header nav a:hover {
    color: #ff779e;
    font-weight: bold;
}

/* Seções */
section {
    padding: 40px 0;
    background: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 2em;
    border-bottom: 2px solid #ff779e;
    display: inline-block;
    padding-bottom: 5px;


}

/* Seção Sobre Mim */
#about .about-content {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#about .about-content img {
    border-radius: 70%;
    max-width: 165px;
    height: auto;
    border: 3px solid #ff779e;
}

#about .about-content p {
    flex: 1;
    min-width: 280px;
    text-align: justify;
}

/* Seção Conhecimentos */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    text-align: center;
}

.skill-item {
    background: #e9e9e9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.skill-item h3 {
    color: #ff779e;
    margin-top: 0;
}

/* Seção Projetos */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background: #e9e9e9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(251, 250, 250, 0.05);
    text-align: center;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.project-card h3 {
    color: #ff779e;
    margin-top: 0;
}

.project-card a {
    display: inline-block;
    background: #ff779e;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.project-card a:hover {
    background: #ff779e;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    margin-top: 0px;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 80%;
    }

    header h1 {
        font-size: 2em;
    }

    header nav ul li {
        display: block;
        padding: 5px 0;
    }

    #about .about-content {
        flex-direction: column;
        text-align: center;
    }

    .skills-grid,
    .projects-grid {
        grid-template-columns: 1fr;
    }
}